<div class="hero-unit">
	<h1>Welcome to MDJD Photography</h1>
		<p>
			Built using	<%= link_to "One Month Rails", "http://onemonthrails.com" %>
		</p>

		<p>
			<%= link_to "Sign Up Here!", "#", class: "btn btn-primary btn-large" %>
		</p>
</div>
